.App {
  text-align: center;
  margin: 0 5vw;
}

header {
  padding-top: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
